In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\dell\anaconda3\lib\site-packages (1.1.3)
Requirement already satisfied: pytz>=2017.2 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (1.19.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [36]:
import pandas as pd
a = pd.read_excel(r'C:\Users\Dell\Documents\spd.xlsx')
b=[2,11,4,7,5]
hr,lr=201,80
a

   A  B   C  D  E
0  0  0  18  0  1
1  0  6   0  1  1
2  0  6   0  1  1
3  5  0   4  0  2
4  2  3   1  1  1
5  0  0   4  0  3

In [32]:
u_a=sum(a['A'])*b[0]
u_b=sum(a['B'])*b[1]
u_c=sum(a['C'])*b[2]
u_d=sum(a['D'])*b[3]
u_e=sum(a['E'])*b[4]
print(u_a,u_b,u_c,u_d,u_e)

14 165 108 21 45

In [41]:
l1=[]

0